<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body>
<p>You are currently logged in as {{request.session.username}}</p>
<form action = "/Profile/EditProfile/" method = "post" > {% csrf_token %}
    <label for = "Name">Name:</label>
    <input type = "text" id = "Name" name = 'Name' value="{{request.session.name}}">
    <label for = "Email">Email:</label>
    <input type = "text" id = "Email" name = 'Email' value="{{request.session.email}}">
    <label for = "Telephone">Phone Number:</label>
    <input type = "text" id = "Telephone" name = 'Telephone' value="{{request.session.telephone}}">
    <label for = "Address">Address:</label>
    <input type = "text" id = "Address" name = 'Address' value="{{request.session.address}}">
    <button type = "submit">Submit</button>
</form>
<a href="../Accounts/Profile.html">Home Page</a>
</body>
</html>