{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'styles/Home.css' %}?{% now 'U' %}" type="text/css">
</head>
<body>
{% include 'NavBar.html' %}

<div class = "userBox center scrollable" id="userbox">
    {# For each user is a button #}
    {% if request.session.role == "Supervisor" %}
        {% for user in userList %}
            <input class = 'inputCheck' id = '{{ user.username }}' type = 'checkbox' name = 'username'>
            <label class = 'checkBox' for="{{ user.username }}">
                <span class = 'checkBoxStyle userTitle'>USER: {{ user.name }}</span>
                <span class ="checkBoxStyle moreInfo">more...</span>
            </label>
            <div class ='dropBox'></div>
        {% endfor %}
    {% endif %}
</div>


</body>
</html>