{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'styles/Home.css' %}?{% now 'U' %}" type="text/css">
</head>
<body>
    <div class = "bannerBox">
    </div>
    <h2 class = 'headerText'>News/Notifications/Etc</h2>
    <div class = 'container'>
        <div class = 'homeContentBox'>
        {# Insert contents in here: #}
        </div>

        <div class ='buttonBox'>
            {# Change the type of button here: #}
            <button class = 'buttonText'>
                <a href="{% url 'create_notification' %}">Create Notification</a>
            </button>

            <button type="button" class = "buttonText">
                <a href="{% url 'manage_account' %}">Manage Accounts</a>
            </button>
            <button class = 'buttonText'>
                <a href="{% url 'course' %}">Manage Courses</a>
            </button>

            <button class = 'buttonText' >
                <a href="{% url 'assign_person' %}">Assign TAs/Instructors</a>
                </button>
            <button class = 'buttonText' >
                <a href="{% url 'view_data' %}">View Database</a>
            </button>
            <button class = 'buttonText'>Logout</button>
        </div>
    </div>
</body>
</html>