<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="Login.css" type="text/css">

</head>
<body>


<div class = "loginBox">
    <!--Target value is set to "_self" because we want the response page return on the current page.-->
    <!--TODO: action need to set to what needed to be done.-->
    <!--
     #Check database
     if correct : lead to another page.
     if incorrect: return an error message of "Incorrect credential" of sort.
     # action = '/' for homepage.
     -->
    <form  class ="loginForm" target="_self" action = "/" method = "post"  >{%csrf_token%}

        <label for="username">Username</label>
        <input class="inputBox" type="text" id="username" name = 'username'>

        <label for="password">Password</label>
        <input type="text" id="password" name = 'password'>

        <!--TODO: onclick: submit the username and password to verify if it's valid.-->
        <button class ="loginButton" type="submit" onclick="">Login</button>
    </form>

    {{ error }}
</div>

</body>
</html>