{% extends 'defaultContainer.html' %}
{% load static %}
{% block title %}
Manage
{% endblock %}
{% block css %}
    <link rel = "stylesheet" href = "{% static 'styles/ManageAccount.css' %}?{% now 'U' %}" type = "text/css">
{% endblock %}

{% block content %}
    <div class = "listButton buttonBackgroundInactive">
        <div class = "buttons">
            <form class = 'formInner' action = '/manage/' method = "post"> {% csrf_token %}
                <a>
                    <button class = "buttonStyle {% if request.session.action == 'create' %}buttonStyleSelect{% endif %} buttonText" type = "submit" id = 'button' name = "create">Create</button>
                </a>
                <a>
                    <button class = "buttonStyle {% if request.session.action == 'edit' %}buttonStyleSelect{% endif %} buttonText" type = "submit" id = 'button' name = "edit">Edit</button>
                </a>
                <a>
                    <button class = "buttonStyle {% if request.session.action == 'delete' %}buttonStyleSelect{% endif %} buttonText" type = "submit" id = 'button' name = "delete">Delete</button>
                </a>
            </form>
        </div>
        <span class = 'errorMessage Error'>{{ error }}</span>
        <div>
            {% if request.session.action == 'create' %}
                <div class = 'formStyle'>
                <form class = "formInner" action = "/manage/createAccount/" method = "post" > {% csrf_token %}
                    <label for = "role">Role:</label>
                    <select class = "formSelector" id = "role" name = 'role'>
                        <option value = "" disabled selected hidden>Choose Role</option>
                        <option value = "Supervisor">Supervisor</option>
                        <option value = "Instructor">Instructor</option>
                        <option value = "TA">TA</option>
                    </select>
                    <label for="Username">Username:</label>
                    <input class = "formInputStyle" type = "text" id = "Username" name = 'Username' >
                    <label  for="Password">Password:</label>
                    <input class = "formInputStyle" type = "text" id = "Password" name = 'Password' >
                    <label for="Name">Name:</label>
                    <input class = "formInputStyle" type = "text" id = "Name" name = 'Name' >
                    <label  for = "Email">Email:</label>
                    <input class = 'formInputStyle' type = "text" id = "Email" name = 'Email'>
                    <label  id = "TelephoneLabel" for = "Telephone">Phone Number:</label>
                    <input class = "formInputStyle" type = "text" id = "Telephone" name = 'Telephone'>
                    <label id = "AddressLabel" for = "Address">Address:</label>
                    <input class = "formInputStyle" type = "text" id = "Address" name = 'Address'>
                    <button  class = 'formButtonStyle' type = "submit">Submit</button>
                </form>
                </div>
            {% elif request.session.action == 'edit' %}
                <div class = 'formStyle'>
                    <form class = "formInner" action = "/manage/editAccount/" method = "post"> {% csrf_token %}
                    <label  for="usernameSelector">Username:</label>
                    <select class = "formSelector" id = "usernameSelector" name = 'userName'>
                        <option value = "" disabled selected hidden>Choose User</option>
                        {% for user in userList %}
                            <option value = "{{ user.username }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                    <label  for="Password">Password:</label>
                    <input class = "formInputStyle" type = "text" id = "Password" name = 'Password' >
                    <label for="Name">Name:</label>
                    <input class = "formInputStyle" type = "text" id = "Name" name = 'Name' >
                    <label  for = "Email">Email:</label>
                    <input class = "formInputStyle" type = "text" id = "Email" name = 'Email'>
                    <label id = "TelephoneLabel" for = "Telephone">Phone Number:</label>
                    <input class = "formInputStyle" type = "text" id = "Telephone" name = 'Telephone'>
                    <label  id = "AddressLabel" for = "Address">Address:</label>
                    <input class = "formInputStyle" type = "text" id = "Address" name = 'Address'>
                    <button class = 'formButtonStyle' type = "submit">Submit</button>
                </form>
                </div>
            {% elif request.session.action == 'delete' %}
                <div class = 'formStyle'>
                <form class = "formInner" action = "/manage/deleteAccount/" method = "post"> {% csrf_token %}
                    <label for="Username">Username:</label>
                    <input class = "formInputStyle" type = "text" id = "Username" name = 'Username' >
                    <button class = 'formButtonStyle' type = "submit">Submit</button>
                </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}