<!--
 Guide:
 To use this Navigation Bar, please use the tag below:
{#    {% include 'NavBar.html'  %}   #}

Make sure this is right below the <body> for it to work correctly.
 -->
{% load static %}
<link rel="stylesheet" href="{% static 'styles/NavBar.css' %}?{% now 'U' %}" type="text/css">
<div class ='buttonBox'>
    {# Change the type of button here: #}

    {% if request.session.user.role == "Supervisor" %}
    <a class = 'linkButton' href="{% url 'course' %}"><button type = 'submit' class = 'navButton buttonText'>COURSE</button></a>
    {% endif %}
    <a class = 'linkButton' href="{% url 'manage_account' %}"><button type="submit" class = 'navButton buttonText'>PROFILE</button></a>
    <div class = 'homeButton homeButtonIntro'>
        <button type = 'submit' class = 'homeButton homeButtonHover'><a href="{% url 'home' %}"><img class = 'logoBox' src = '{% static "images/LOGO_417x385.png" %}' alt="Super-Looper"></a></button>
    </div>

    {% if request.session.user.role == "Supervisor" %}
    <a class = 'linkButton' href="{% url 'assign_person' %}"><button type = 'submit' class = 'navButton buttonText'>ACCOUNTS</button></a>
    {% endif %}

    {#  Logout  #}
    <form action = '{% url 'logout' %}' method = 'get'><a><button type = "submit" class = 'navButton buttonText'>LOGOUT</button></a></form>
</div>

<div>
    <h1 class = 'userText'>{{ request.session.user.name }}</h1>
    <div class = 'underLine'></div>
</div>

