
.bannerBox{
    border: 1px solid black;
    width: 100%;
    height: 20vh;
}

.headerText{
    display:block;
    margin-bottom: 0;
    margin-top : 0;
    font-family: Serif, "Times New Roman", serif;
    font-size: 2rem;
}

.container{
    display:flex;
}

.homeContentBox{
    border: 1px solid black;
    width:85%;
    height: 70vh;
    overflow-x: hidden;
    overflow-y:auto;
    word-wrap: break-word;
}

.buttonBox {
    margin-top : -15px;
    padding: 10px;
}

.buttonBox button{
    font-family: Andale Mono, monospace;
    background-color: transparent;
    display: block;
    border: 1px solid black;
    margin-block: 10px;
    width:200px;
    height:50px;
    text-align:left;
    line-height:1.1em;
}

.buttonBox button:hover{
    cursor: pointer;
    border: 2px solid green;
}

.buttonBox .buttonBox a:hover,.buttonBox a:active, .buttonBox a:link ,a:visited{
    text-decoration: none;
    color: black;
}

.buttonText{
    opacity: 70%;
    width: fit-content;
    white-space: nowrap;
    font-size: 0.9rem;
}

.testText{
    font-size: 20px;
    font-weight: normal;
}

.testBannerContent{
    display: block;
    text-align: center;
    font-size: 36px;
    margin-top: 70px;
}