.homeButton {
    position: relative;
    margin-left: 1225px;
}

#button {
    font-family: Andale Mono, monospace;
    background-color: transparent;
    display: inline;
    border: 1px solid black;
    margin-block: 10px;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height:1.1em;
}

#button button:hover {
    cursor: pointer;
    border: 2px solid green;
}

#button #button a:hover, #button a:active, #button a:link, a:visited {
    text-decoration: none;
    color: black;
}

.button .homeButton {
    opacity: 70%;
    width: fit-content;
    white-space: nowrap;
    font-size: 0.9rem;
}

.input {
    width: 300px;
    padding: 10px;
    margin: 5px;
}

.input:focus {
    outline: none;
    border: 1px solid lightgreen;
}

.label {
    font-weight: bold;
}

.notificationBox {
    position: absolute;
    width: fit-content;
    border: 1px solid black;
    padding: 100px;
    top: 30%;
    left: 30%;
}